body {
    margin: 15px;
    background-position: center;
    background-color: plum;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
nav {
    text-align: justify;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 25px;
}

